# Flat/2D Multi-Resolution Panos
# Skin with Default Buttons
# Documentation: http://krpano.com/tools/kmakemultires/config?version=116
# krpano tools 1.16

# basic settings
include basicsettings.config
panotype=flat
html5=no

# convert spherical/cylindrical to cubical
converttocube=false

# multiresolution settings
multires=true
tilesize=512
levels=auto
levelstep=2
minsize=128
maxsize=auto
leveldownload=view
progressiveloading=auto

# output images path
tilepath=%INPUTPATH%/%BASENAME%.tiles/l%Al/%Av/l%Al_%Av_%Ah.jpg

# preview pano settings
preview=true
cspreview=false
graypreview=false
previewsmooth=25
previewpath=%INPUTPATH%/%BASENAME%.tiles/preview.jpg

# xml output
xml=true
xmlpath=%INPUTPATH%/%BASENAME%.xml

# skin / xml template
xmltemplate=xml/flat.xml
xmltemplate_additional_file=xml/skin/flatskin.xml
xmltemplate_additional_file=xml/skin/buttons.png
xmltemplate_additional_file=xml/skin/qtvr-cursors.png
xmltemplate_additional_file=xml/skin/drag-cursors.png
xmltemplate_additional_file=xml/skin/androidskin.xml
xmltemplate_additional_file=xml/skin/androidbuttons.png

# html output/template
html=true
htmlpath=%INPUTPATH%/%BASENAME%.html
htmltemplate=html/swfkrpano.html
htmltemplate_js=html/swfkrpano.js

# compression settings (no jpegoptimize for very big panos)
jpegquality=82
jpegsubsamp=422
jpegoptimize=false
